@{
    ViewData["Title"] = "Basketball Consulting";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Basketball Consulting Page</h1>
    <div class="hobby-images">
        <img src="/images/IMG_3620.jpg" alt="basketball" class="hobby-image" style="transform: rotate(360deg);" />
        <img src="/images/IMG_0408.jpg" alt="basketball" class="hobby-image"/>
    </div>
    
    
    <p>Ever since I was 10, I have loved basketball. My good buddy invited me to play on his YMCA team in the 5th grade and I was hooked ever since. It hasn't been an easy journey and there were many moments where I was tempted to quit and start over. Yet, inspite of all my challenges, I learned that growth can only come through being uncomfortable. In my professional life, I've seen the importance doing hard things and being outside my comfort zone. I started a new job and there is a lot of learning that happens and I often feel like I'm not adding value. However, the principles that I learned from basketball have transferred over and I feel I know I will be able to be successful.</p>
    
    <p>Although, its not everyone's favorite sport, it is essential you learn how to play from the best. I will teach you the basics and also how to remain resilient during the challenges that face all athletes. Through my training, you will be pushed but you will grow. You will be able to reach the top level as an athlete but also as a strong discipline individual. However, the success only begins through your commitment to the process.</p>
    
    <p><a href="/Home/Calculator">Calculate my tutoring rate</a></p>
</div>